.mainSlider{
    display: grid;
    column-gap: 1rem;
    align-items: center;
    margin : 30px 20px 0px  0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .mainSliderDiv{
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
    margin-bottom: 20px; 
    background-color: #DCDCDC;
  }
  .mainSliderDiv div {
    padding-top : 20px;
  }